/* App component */

html, body {
    height: 100%;
    border: 0px;
    margin: 0px;
    background-size: 400px;
    background-image: url('../public/images/twilight_wallpaper.jpeg');
    background-repeat: repeat;
  }

#app {
    text-align: center;
}

#app h1 {
    font-family: 'Twilight';
    font-size: 120px;
    color: white;

    text-shadow: 10px 0 darkslategray;
}


#app button {
    font-family: 'Twilight';
    font-size: 20px;
    color: white;

    background-color: black;

    padding: 5px;
    margin: 5px;
}

/* TeamEdward and TeamJacob components */

.team {
    text-align: center;
}

.align-left {
    background-color: rgb(48, 37, 39);
    float: left;
    width: 49%;
    padding: 30px;
}

.align-right {
    background-image: linear-gradient(rgb(123, 38, 38), rgb(241, 241, 185));
    float: right;
    width: 44%;
    margin-top: 55px;
    padding: 0px;
}

/* RandomQuote component */

#quote {
    font-size: 33px;
    font-family: 'Twilight';
    color: red;
    text-shadow: 0 0 3px #d12222, 0 0 8px #490404;
}

/* Comment component */

.comment {
    border-style: dotted;
    border-width: 4px;
    border-color: white;

    margin: 10px;
    padding: 10px;
}

/* blood droplets on background */

i {
    width: 15px;
    height: 15px;
    background-color: rgb(70, 10, 14);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(rgb(0, 0, 0), 0.8);
    position: absolute;
    transition: all 0.4s ease-in-out;
    transform: rotate(30deg);
    animation: shine;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
  
@keyframes shine{

    0%{
        transform: scale(0.1) rotate(-200deg);
    }
    55%{
        transform: scale(1.2) rotate(180deg);
    }
    100%{
        transform: scale(0.1) rotate(-200deg);
    }
    
  }