/* App component */

html, body {
    height: 100%;
    border: 0px;
    margin: 0px;
    background-size: 400px;
    background-image: url('../public/images/twilight_wallpaper.jpeg');
    background-repeat: repeat;
  }

#app {
    text-align: center;
}

#app h1 {
    font-family: 'Twilight';
    font-size: 120px;
    color: white;

    text-shadow: 10px 0 darkslategray;
}


#app button {
    font-family: 'Twilight';
    font-size: 20px;
    color: white;

    background-color: black;

    padding: 5px;
    margin: 5px;
}

/* TeamEdward and TeamJacob components */

.team {
    text-align: center;
}

.align-left {
    background-color: rgb(98, 28, 39);
    float: left;
    width: 35%;
    padding: 30px;
}

.align-left p {
    font-family: 'Twilight';
    font-size: 17px;
    color: white;
}

/* RandomQuote component */

#quote {
    font-size: 33px;
    font-family: 'Twilight';
    color: red;
    text-shadow: 0 0 3px #d12222, 0 0 8px #490404;
}